:root{
    --blanco: #FFFFFF;
    --primario: #FFC107;
    --secundario: #0097A7;
}
html {
    font-size: 40%;
}
body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}
.titulo {
    text-align: center;
    font-size: 4rem;
}
.contenedor {
    width: 120rem;
    margin: 0 auto 0 auto;
}
.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none; /*Elimina la linea del enlace*/
}